<div class="npc-section">
  <h3>{{localize 'sr4.critterPower.powers'}}</h3>
  {{#if critterPowers}}
    {{#each critterPowers as |power|}}
    <div class="item-card" data-item-id="{{power._id}}">
      <div class="item-row">
        <span class="item-name">{{power.name}}</span>
        {{#if power.system.source}}<span class="item-source">{{power.system.source}}</span>{{/if}}
        {{> item-edit-btn itemId=power._id}}
        {{> item-delete-btn itemId=power._id}}
      </div>
    </div>
    {{/each}}
  {{else}}
    <p class="empty-list">{{localize 'sr4.critterPower.noPowers'}}</p>
  {{/if}}
</div>
