<form class="defense-roll-dialog">
  <div class="form-group attack-info">
    <span
      >{{ attackerName }} · {{ weaponName }} ·
      {{#unless hideSuccesses}}
      {{localize "sr4.defense.attackSuccesses"}}: {{ attackSuccesses }}
      {{/unless}}</span
    >
  </div>

  <div class="form-group">
    <span class="defense-stat"
      >{{localize "sr4.stats.REACTION"}}: {{ reaction }}</span
    >
  </div>

  {{#if wideDefenseMalus}}
  <div class="form-group">
    <span class="defense-stat defense-malus"
      >{{localize "sr4.defense.wideBurstMalus"}}: -{{ wideDefenseMalus }}</span
    >
  </div>
  {{/if}}

  {{#if isMelee}}
  {{#if meleeSkills.length}}
  {{> skill-select id="skill1" name="skill1" labelKey="sr4.defense.skill1" skills=meleeSkills}}
  {{> skill-select id="skill2" name="skill2" labelKey="sr4.defense.skill2" skills=meleeSkills}}
  {{/if}}

  {{else}}
  {{#if rangedSkills.length}}
  {{> skill-select id="skill1" name="skill1" labelKey="sr4.defense.skill" skills=rangedSkills}}
  {{/if}}
  {{/if}}

  {{> bonus-input}}
  {{> malus-input}}
  {{> specialization-checkbox}}
  {{> edge-checkbox}}
</form>
