<table class="effects-table">
  <thead>
    <tr>
      <th class="effect-icon-col"></th>
      <th>{{localize 'sr4.effect.name'}}</th>
      <th>{{localize 'sr4.effect.attribute'}}</th>
      <th>{{localize 'sr4.effect.value'}}</th>
      <th>{{localize 'sr4.effect.active'}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each effects as |effect|}}
    <tr class="effect-row {{#unless effect.active}}effect-inactive{{/unless}}" data-effect-id="{{effect.id}}">
      <td class="effect-icon-col"><img src="{{effect.img}}" class="effect-icon" /></td>
      <td class="effect-name">{{effect.name}}</td>
      <td class="effect-attribute">
        {{#each effect.changes as |change|}}
        <div>{{change.targetLabel}}</div>
        {{/each}}
      </td>
      <td class="effect-value-cell">
        {{#each effect.changes as |change|}}
        <div class="effect-value {{#if (gt change.value 0)}}positive{{else if (lt change.value 0)}}negative{{/if}}">
          {{#if (eq change.mode 'add')}}
            {{#if (gt change.value 0)}}+{{/if}}{{change.value}}
          {{else if (eq change.mode 'multiply')}}
            ×{{change.value}}
          {{else}}
            ={{change.value}}
          {{/if}}
        </div>
        {{/each}}
      </td>
      <td class="effect-toggle">
        <input type="checkbox" class="sr4-checkbox" data-action="toggleEffect"
          data-effect-id="{{effect.id}}" {{#if effect.active}}checked{{/if}} />
      </td>
      <td class="item-controls">
        <a data-action="editEffect" data-effect-id="{{effect.id}}"
          data-tooltip="{{localize 'sr4.effect.edit'}}"><i class="fas fa-edit"></i></a>
        <a data-action="deleteEffect" data-effect-id="{{effect.id}}"
          data-tooltip="{{localize 'sr4.effect.delete'}}"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
