<div class="npc-main-tab tab {{ tab.cssClass }}" data-group="primary" data-tab="main">
  <div class="npc-header">
    {{> "actor-image"}}
    <div class="npc-header-info">
      <div class="meta-field">
        <label>{{localize 'sr4.metadata.characterName'}}</label>
        <input type="text" name="name" value="{{actor.name}}" data-dtype="String" {{#unless editMode}}readonly{{/unless}} />
      </div>
      <div class="meta-field">
        <label>{{localize 'sr4.metadata.metatype'}}</label>
        <input type="text" name="system.descriptionAndNotes.metatype" value="{{system.descriptionAndNotes.metatype}}" data-dtype="String" {{#unless editMode}}readonly{{/unless}} />
      </div>
    </div>
  </div>

  <hr />
  {{> "derived-stat-actions"}}
  <hr />
  {{> "statblock-sheet" computedStats=computedStats editMode=editMode derivedKeys=derivedKeys}}

  <hr />

  {{> "skills-grid"}}

  <hr />

  <div class="npc-section">
    <h3>{{localize 'sr4.tab.weapons'}}</h3>
    {{#if weapons}}
      <ul class="weapon-list">
        {{#each weapons as |weapon|}}
          {{> "weapon-card"}}
        {{/each}}
      </ul>
    {{else}}
      <p>{{localize 'sr4.weapon.noWeapons'}}</p>
    {{/if}}
  </div>

  <hr />

  {{> "critter-powers" critterPowers=critterPowers editMode=editMode}}
</div>
