<div
  class="defense-card tab {{ tab.cssClass }}"
  data-group="primary"
  data-tab="defense"
>
  <div class="defense-grid">
    <div class="defense-section">
      <div class="defense-field">
        <label>{{localize "sr4.armor.ballisticarmor"}}</label>
        <span>{{ system.armor.ballistic }}</span>
      </div>
      <div class="defense-field">
        <label>{{localize "sr4.armor.impactarmor"}}</label>
        <span>{{ system.armor.impact }}</span>
      </div>
    </div>

    {{> "condition-monitor" system=system showSimpleHpToggle=showSimpleHpToggle}}
  </div>

  {{#if armor}}
  <ul class="armor-list">
    {{#each armor}}
    {{> "armor-card" this}}
    {{/each}}
  </ul>
  {{else}}
  <p class="empty-list">{{localize 'sr4.armor.noarmors'}}</p>
  {{/if}}
</div>
