<div
  class="implants tab {{ tab.cssClass }}"
  data-group="primary"
  data-tab="implants"
>
  <div class="tab-header">
    <h2>{{localize 'sr4.tab.implants'}}</h2>
    {{#if editMode}}
      {{> item-create-btn btnAction="openCreateItemDialog" btnTooltip="sr4.item.create"}}
    {{/if}}
  </div>

  <div class="implant-summary">
    <span class="item-property">
      <strong>{{localize "sr4.implant.essenceCyber"}}</strong>
      {{ essenceCyber }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.implant.essenceBio"}}</strong>
      {{ essenceBio }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.implant.essenceHalved"}}</strong>
      {{ essenceHalved }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.implant.essenceLoss"}}</strong>
      {{ essenceLoss }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.implant.currentEssence"}}</strong>
      {{ currentEssence }}
    </span>
  </div>

  {{#if implantsByType.length}}
    {{#each implantsByType as |group|}}
      {{#> collapsible-section title=group.label}}
        <ul class="implant-list">
          {{#each group.items as |item|}}
          {{> "implant-card"}}
          {{/each}}
        </ul>
      {{/collapsible-section}}
      <hr />
    {{/each}}
  {{else}}
    <p class="empty-list">{{localize 'sr4.implant.noImplants'}}</p>
  {{/if}}
</div>
