<div
  class="inventory tab {{ tab.cssClass }}"
  data-group="primary"
  data-tab="inventory"
>
  <div class="tab-header">
    <h2>{{localize 'sr4.tab.inventory'}}</h2>
    {{#if editMode}}
      {{> item-create-btn btnAction="openCreateItemDialog" btnTooltip="sr4.item.create"}}
    {{/if}}
  </div>

  {{!-- Waffen --}}
  {{#> collapsible-section title=(localize 'sr4.inventory.weapons') btnAction="openCreateItemDialog" btnTooltip="sr4.item.create"}}
    {{#if weapons}}
    <ul class="weapon-list">
      {{#each weapons as |weapon|}}
      {{> "weapon-card"}}
      {{/each}}
    </ul>
    {{else}}
    <p class="empty-list">{{localize 'sr4.weapon.noWeapons'}}</p>
    {{/if}}
  {{/collapsible-section}}

  <hr />

  {{!-- Rüstung --}}
  {{#> collapsible-section title=(localize 'sr4.inventory.armor') btnAction="createItem" btnItemType="Armor" btnTooltip="sr4.item.create"}}
    {{#if armor}}
    <ul class="armor-list">
      {{#each armor as |item|}}
      {{> "armor-card"}}
      {{/each}}
    </ul>
    {{else}}
    <p class="empty-list">{{localize 'sr4.armor.noarmors'}}</p>
    {{/if}}
  {{/collapsible-section}}

  <hr />

  {{!-- Cyberware / Bioware --}}
  {{#> collapsible-section title=(localize 'sr4.inventory.implants') btnAction="createItem" btnItemType="Implant" btnTooltip="sr4.item.create"}}
    {{#if implants}}
    <ul class="implant-list">
      {{#each implants as |item|}}
      {{> "implant-card"}}
      {{/each}}
    </ul>
    {{else}}
    <p class="empty-list">{{localize 'sr4.implant.noImplants'}}</p>
    {{/if}}
  {{/collapsible-section}}

  <hr />

  {{!-- Commlinks --}}
  {{#> collapsible-section title=(localize 'sr4.inventory.commlinks') btnAction="createItem" btnItemType="Commlink" btnTooltip="sr4.item.create"}}
    {{#if commlinks}}
    <ul class="item-list">
      {{#each commlinks as |item|}}
      {{> "commlink-card"}}
      {{/each}}
    </ul>
    {{else}}
    <p class="empty-list">{{localize 'sr4.commlink.noCommlinks'}}</p>
    {{/if}}
  {{/collapsible-section}}

  {{!-- Ausrüstung --}}
  {{#> collapsible-section title=(localize 'sr4.inventory.items') btnAction="createItem" btnItemType="Gear" btnTooltip="sr4.item.create"}}
    {{#if items}}
    <ul class="item-list">
      {{#each items as |item|}}
      {{> "item-card"}}
      {{/each}}
    </ul>
    {{else}}
    <p class="empty-list">{{localize 'sr4.item.noItems'}}</p>
    {{/if}}
  {{/collapsible-section}}

  <hr />

  {{!-- Foki / Fetische --}}
  {{#> collapsible-section title=(localize 'sr4.inventory.foci') btnAction="createItem" btnItemType="Focus" btnTooltip="sr4.item.create"}}
    {{#if foci}}
    <ul class="item-list">
      {{#each foci as |item|}}
      {{> "item-card"}}
      {{/each}}
    </ul>
    {{else}}
    <p class="empty-list">{{localize 'sr4.focus.noFoci'}}</p>
    {{/if}}
  {{/collapsible-section}}

  <hr />

  {{!-- Fahrzeuge (vorbereitet) --}}
  {{#> collapsible-section title=(localize 'sr4.inventory.vehicles')}}
    <p class="empty-list">{{localize 'sr4.vehicle.notImplemented'}}</p>
  {{/collapsible-section}}
</div>
