<div
  class="inventory tab {{ tab.cssClass }}"
  data-group="primary"
  data-tab="inventory"
>
  {{#if editMode}}
  <div style="margin-bottom: 0.5rem;">
    {{> item-create-btn btnAction="openCreateItemDialog" btnTooltip="sr4.item.create"}}
  </div>
  {{/if}}

  {{!-- Waffen --}}
  {{#> collapsible-section title=(localize 'sr4.inventory.weapons')}}
    {{#if weapons}}
    <ul class="weapon-list">
      {{#each weapons as |weapon|}}
      {{> "weapon-card"}}
      {{/each}}
    </ul>
    {{else}}
    <p class="empty-list">{{localize 'sr4.weapon.noWeapons'}}</p>
    {{/if}}
  {{/collapsible-section}}

  <hr />

  {{!-- Rüstung --}}
  {{#> collapsible-section title=(localize 'sr4.inventory.armor')}}
    {{#if armor}}
    <ul class="armor-list">
      {{#each armor as |item|}}
      {{> "armor-card"}}
      {{/each}}
    </ul>
    {{else}}
    <p class="empty-list">{{localize 'sr4.armor.noarmors'}}</p>
    {{/if}}
  {{/collapsible-section}}

  <hr />

  {{!-- Cyberware / Bioware --}}
  {{#if implants}}
  {{#> collapsible-section title=(localize 'sr4.inventory.implants')}}
    <ul class="implant-list">
      {{#each implants as |item|}}
      {{> "implant-card"}}
      {{/each}}
    </ul>
  {{/collapsible-section}}
  <hr />
  {{/if}}

  {{!-- Commlinks --}}
  {{#if commlinks}}
  {{#> collapsible-section title=(localize 'sr4.inventory.commlinks')}}
    <ul class="item-list">
      {{#each commlinks as |item|}}
      {{> "commlink-card"}}
      {{/each}}
    </ul>
  {{/collapsible-section}}
  <hr />
  {{/if}}

  {{!-- Ausrüstung --}}
  {{#> collapsible-section title=(localize 'sr4.inventory.items')}}
    {{#if items}}
    <ul class="item-list">
      {{#each items as |item|}}
      {{> "item-card"}}
      {{/each}}
    </ul>
    {{else}}
    <p class="empty-list">{{localize 'sr4.item.noItems'}}</p>
    {{/if}}
  {{/collapsible-section}}

  <hr />

  {{!-- Foki / Fetische --}}
  {{#if foci}}
  {{#> collapsible-section title=(localize 'sr4.inventory.foci')}}
    <ul class="item-list">
      {{#each foci as |item|}}
      {{> "item-card"}}
      {{/each}}
    </ul>
  {{/collapsible-section}}
  {{/if}}
  <hr />

  {{!-- Fahrzeuge (vorbereitet) --}}
  {{#> collapsible-section title=(localize 'sr4.inventory.vehicles')}}
    <p class="empty-list">{{localize 'sr4.vehicle.notImplemented'}}</p>
  {{/collapsible-section}}
</div>
