<div
  class="magic-card tab {{ tab.cssClass }}"
  data-group="primary"
  data-tab="magic"
>
  <div class="magic-grid">
    <div class="magic-column">
      <div class="magic-input">
        <label for="magician">{{localize "sr4.magic.magician"}}</label>
        <input
          type="checkbox"
          class="sr4-checkbox"
          id="magician"
          name="system.magic.magician"
          data-action="toggleMagician"
          {{checked
          system.magic.magician}}
        />
      </div>
      <div class="magic-input">
        <label for="adept">{{localize "sr4.magic.adept"}}</label>
        <input
          type="checkbox"
          class="sr4-checkbox"
          id="adept"
          name="system.magic.adept"
          data-action="toggleAdept"
          {{checked
          system.magic.adept}}
        />
      </div>
      {{#if system.magic.magician}}
      <div class="magic-input">
        <label for="tradition">{{localize "sr4.magic.tradition"}}</label>
        <select
          id="tradition"
          name="system.magic.tradition"
          data-dtype="String"
        >
          {{selectOptions traditions selected=system.magic.tradition localize=true}}
        </select>
      </div>
      <div class="magic-input">
        <label for="totem">{{localize "sr4.magic.totem"}}</label>
        <input
          type="text"
          id="totem"
          name="system.magic.totem"
          value="{{ system.magic.totem }}"
        />
      </div>
      {{/if}}
    </div>

    {{#if system.magic.magician}}
    <div class="magic-column">
      <div class="magic-stat">
        <label>{{localize "sr4.magic.drainPool"}}:</label>
        <span>
          {{ system.sheetStats.WILLPOWER }}
          +
          {{lookup system.sheetStats system.magic.drainAttribute}}
        </span>
      </div>
      <div class="magic-input">
        <label
          for="drainAttribute"
          >{{localize "sr4.magic.drainAttribute"}}</label
        >
        <select
          id="drainAttribute"
          name="system.magic.drainAttribute"
          data-dtype="String"
        >
          {{selectOptions drainAttributes selected=system.magic.drainAttribute localize=true}}
        </select>
      </div>
      <div class="magic-section-subtitle">
        {{localize "sr4.magic.drainboni.label"}}
      </div>
      <div class="magic-input">
        <label
          for="drainBonus"
          >{{localize "sr4.magic.drainboni.spellcasting"}}</label
        >
        <input
          type="number"
          id="drainBonus"
          name="system.magic.drainBonus"
          data-dtype="Number"
          value="{{ system.magic.drainBonus }}"
        />
      </div>
      <div class="magic-input">
        <label
          for="summoningDrainBonus"
          >{{localize "sr4.magic.drainboni.summoning"}}</label
        >
        <input
          type="number"
          id="summoningDrainBonus"
          name="system.magic.summoningDrainBonus"
          data-dtype="Number"
          value="{{ system.magic.summoningDrainBonus }}"
        />
      </div>
    </div>
    {{/if}}

    {{#if system.magic.adept}}
    <div class="magic-column">
      <div class="magic-stat">
        <label>{{localize "sr4.magic.powerpoints"}}:</label>
        <span
          class="{{#if (gt totalPowerCost system.sheetStats.MAGIC)}}over-limit{{/if}}"
        >
          {{ totalPowerCost }} / {{ system.sheetStats.MAGIC }}
        </span>
      </div>
    </div>
    {{/if}}
  </div>

  {{#if system.magic.magician}}
  {{> entity-bindings
    sectionLabel="sr4.magic.spiritBindings.label"
    categories=spiritBindingCategories
    idPrefix="spiritBinding"
    namePrefix="system.magic.spiritBindings"
    btnAction="summonSpirit"
    btnIcon="fas fa-ghost"
    btnLabel="sr4.magic.summon"
  }}

  {{#> collapsible-section title=(localize "sr4.magic.spells") btnAction="createItem" btnItemType="Spell" btnTooltip="sr4.magic.spells"}}
    {{#if spells}}
    <ul class="spell-list">
      {{#each spells as |spell|}}
      {{> "spell-card" spell}}
      {{/each}}
    </ul>
    {{else}}
    <p>{{localize "sr4.spell.noSpells"}}</p>
    {{/if}}
  {{/collapsible-section}}

  {{#> collapsible-section title=(localize "sr4.inventory.foci") btnAction="createItem" btnItemType="Focus" btnTooltip="sr4.item.create"}}
    {{#if foci}}
    <ul class="item-list">
      {{#each foci as |item|}}
      {{> "focus-card"}}
      {{/each}}
    </ul>
    {{else}}
    <p class="empty-list">{{localize "sr4.focus.noFoci"}}</p>
    {{/if}}
  {{/collapsible-section}}
  {{/if}}

  {{#if system.magic.adept}}
  {{#> collapsible-section title=(localize "sr4.magic.powers") btnAction="createItem" btnItemType="Power" btnTooltip="sr4.magic.powers"}}
    {{#if powers}}
    <ul class="spell-list">
      {{#each powers as |power|}}
      {{> "power-card" power}}
      {{/each}}
    </ul>
    {{else}}
    <p>{{localize "sr4.power.nopowers"}}</p>
    {{/if}}
  {{/collapsible-section}}
  {{/if}}
</div>
