<div
  class="modifiers-card tab {{ tab.cssClass }}"
  data-group="primary"
  data-tab="modifiers"
>
  <div class="modifier-grid">

    <div class="modifier-section">
      <h3>{{localize "sr4.modifiers.defense"}}</h3>
      {{> "modifier-field" label="sr4.bonus.soakBonus" name="system.modifiers.soakBonus" value=sourceModifiers.soakBonus}}
      {{> "modifier-field" label="sr4.bonus.overflowBonus" name="system.modifiers.overflowBonus" value=sourceModifiers.overflowBonus}}
      {{> "modifier-field" label="sr4.bonus.woundModBonus" name="system.modifiers.woundModBonus" value=sourceModifiers.woundModBonus}}
      {{> "modifier-field" label="sr4.modifiers.woundModifier" value=system.derivedStats.woundModifier readonly=true}}
      {{> "modifier-field" label="sr4.modifiers.meleeDefenseModifier" name="system.modifiers.meleeDefenseModifier" value=sourceModifiers.meleeDefenseModifier}}
      {{> "modifier-field" label="sr4.modifiers.rangedDefenseModifier" name="system.modifiers.rangedDefenseModifier" value=sourceModifiers.rangedDefenseModifier}}
      {{> "modifier-field" label="sr4.modifiers.dodgeModifier" name="system.modifiers.dodgeModifier" value=sourceModifiers.dodgeModifier}}
      {{> "modifier-field" label="sr4.modifiers.blockModifier" name="system.modifiers.blockModifier" value=sourceModifiers.blockModifier}}
      {{> "modifier-field" label="sr4.modifiers.parryModifier" name="system.modifiers.parryModifier" value=sourceModifiers.parryModifier}}
    </div>

    <div class="modifier-section">
      <h3>{{localize "sr4.modifiers.combat"}}</h3>
      {{> "modifier-field" label="sr4.modifiers.meleeDamageBonus" value=system.derivedStats.meleeDamageBonus readonly=true}}
      {{> "modifier-field" label="sr4.modifiers.meleeDamageModifier" name="system.modifiers.meleeDamageModifier" value=sourceModifiers.meleeDamageModifier}}
      {{> "modifier-field" label="sr4.modifiers.unarmedDamageModifier" name="system.modifiers.unarmedDamageModifier" value=sourceModifiers.unarmedDamageModifier}}
    </div>

    <div class="modifier-section">
      <h3>{{localize "sr4.modifiers.initiative.title"}}</h3>
      {{> "modifier-field" label="sr4.modifiers.initiative.physicalBonus" name="system.modifiers.initiative.bonuses.physical" value=sourceModifiers.initiative.bonuses.physical}}
      {{> "modifier-field" label="sr4.modifiers.initiative.physicalPasses" name="system.modifiers.initiative.passes.physical" value=sourceModifiers.initiative.passes.physical}}
      {{> "modifier-field" label="sr4.modifiers.initiative.astralBonus" name="system.modifiers.initiative.bonuses.astral" value=sourceModifiers.initiative.bonuses.astral}}
      {{> "modifier-field" label="sr4.modifiers.initiative.astralPasses" name="system.modifiers.initiative.passes.astral" value=sourceModifiers.initiative.passes.astral}}
      {{> "modifier-field" label="sr4.modifiers.initiative.matrixBonus" name="system.modifiers.initiative.bonuses.matrix" value=sourceModifiers.initiative.bonuses.matrix}}
      {{> "modifier-field" label="sr4.modifiers.initiative.matrixPasses" name="system.modifiers.initiative.passes.matrix" value=sourceModifiers.initiative.passes.matrix min=1}}
    </div>

    <div class="modifier-section">
      <h3>{{localize "sr4.modifiers.overview"}}</h3>
      {{> "modifier-field" label="sr4.modifiers.initiative.currentPhysical" value=system.modifiers.initiative.bonuses.physical readonly=true}}
      {{> "modifier-field" label="sr4.modifiers.initiative.currentAstral" value=system.modifiers.initiative.bonuses.astral readonly=true}}
      {{> "modifier-field" label="sr4.modifiers.initiative.currentMatrix" value=system.modifiers.initiative.bonuses.matrix readonly=true}}
      {{> "modifier-field" label="sr4.modifiers.initiative.currentPasses" value=system.derivedStats.passesString readonly=true}}
    </div>

  </div>

  {{#> collapsible-section title=(localize 'sr4.resistance.title') btnAction="createElementResistance" btnTooltip="sr4.resistance.add"}}
    <table class="resistance-table">
      <thead>
        <tr>
          <th>{{localize 'sr4.resistance.element'}}</th>
          <th class="num-col">{{localize 'sr4.resistance.value'}}</th>
          {{#if editMode}}<th class="controls-col"></th>{{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each system.elementResistances as |res key|}}
        <tr class="resistance-row" data-resistance-key="{{key}}">
          <td>
            <select name="{{concat 'system.elementResistances.' key '.element'}}" {{#unless ../editMode}}disabled{{/unless}}>
              {{#each @root.resistanceElements as |el|}}
              <option value="{{el.value}}" {{#if (eq el.value res.element)}}selected{{/if}}>{{el.label}}</option>
              {{/each}}
            </select>
          </td>
          <td class="num-col"><input type="number" data-dtype="Number" name="{{concat 'system.elementResistances.' key '.value'}}" value="{{res.value}}" {{#unless ../editMode}}readonly{{/unless}} /></td>
          {{#if ../editMode}}
          <td class="item-controls">
            <a data-action="deleteElementResistance" data-resistance-key="{{key}}"
              data-tooltip="{{localize 'sr4.resistance.delete'}}"><i class="fas fa-trash"></i></a>
          </td>
          {{/if}}
        </tr>
        {{else}}
        <tr>
          <td colspan="3" class="empty-list">{{localize 'sr4.resistance.noResistances'}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  {{/collapsible-section}}
</div>
