<div
  class="item-card item"
  data-item-id="{{ this._id }}"
  id="{{ this._id }}"
  title="{{ this.system.description }}"
>
  <div class="item-header item-row">
    <span class="item-name">{{ this.name }}</span>
    <span class="item-property">
      <strong>{{localize "sr4.item.rating"}}</strong>
      {{ this.system.rating }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.item.legality"}}</strong>
      {{ this.system.legality }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.item.cost"}}</strong>
      {{ this.system.cost }}
    </span>
    <input
      class="item-quantity"
      type="number"
      name="system.quantity"
      value="{{ this.system.quantity }}"
      data-dtype="Number"
    />
    <button
      class="item-edit"
      data-action="editItem"
      data-tooltip="{{localize 'sr4.item.edit'}}"
    >
      <i class="fas fa-edit"></i>
    </button>
    <button
      class="item-delete"
      data-action="deleteItem"
      data-tooltip="{{localize 'sr4.item.delete'}}"
    >
      <i class="fas fa-trash"></i>
    </button>
  </div>
</div>
