<div class="derived-stat-actions">
  <button type="button" class="roll-action" data-action="rollDerivedStat" data-stat="liftCarry">
    <i class="fas fa-dumbbell"></i> {{localize 'sr4.action.liftCarry'}} ({{system.derivedStats.liftCarry}})
  </button>
  <button type="button" class="roll-action" data-action="rollDerivedStat" data-stat="memory">
    <i class="fas fa-brain"></i> {{localize 'sr4.action.memory'}} ({{system.derivedStats.memory}})
  </button>
  <button type="button" class="roll-action" data-action="rollDerivedStat" data-stat="composure">
    <i class="fas fa-heartbeat"></i> {{localize 'sr4.action.composure'}} ({{system.derivedStats.composure}})
  </button>
  <button type="button" class="roll-action" data-action="rollDerivedStat" data-stat="judgeIntentions">
    <i class="fas fa-user-secret"></i> {{localize 'sr4.action.judgeIntentions'}} ({{system.derivedStats.judgeIntentions}})
  </button>
</div>
