<div class="skill-search-bar">
  <input
    type="text"
    id="skill-search"
    placeholder="{{localize 'sr4.skills.search'}}"
    autocomplete="off"
  />
</div>

<div class="grid">
  <div class="full-width">
    <div class="cell3 section-header">
      <span>{{localize "sr4.skills.active"}}</span>
      {{#if editMode}}{{> item-create-btn btnAction="createItem" btnItemType="Skill" btnItemSubtype="active" btnTooltip="sr4.skills.active"}}{{/if}}
    </div>
    <div class="cell3 section-header">
      <span>{{localize "sr4.skills.active"}}</span>
    </div>
    <div class="cell3 section-header">
      <span>{{localize "sr4.skills.knowledgeAndComplexForms"}}</span>
      {{#if editMode}}{{> item-create-btn btnAction="createItem" btnItemType="Skill" btnItemSubtype="knowledge" btnTooltip="sr4.skills.knowledgeAndComplexForms"}}{{/if}}
    </div>
  </div>

  <div class="full-width">
    {{#each headerArray}}
      <div class="column-header">
        <span class="header-item">{{localize "sr4.skills.name"}}</span>
        <span class="header-item">{{localize "sr4.skills.rating"}}</span>
        <span class="header-item">{{localize "sr4.skills.specialization"}}</span>
        <span class="header-item">{{localize "sr4.skills.attribute"}}</span>
      </div>
    {{/each}}
  </div>

  <div class="column column-2 item-list">
    {{#each skills}}
      {{#if (eq this.system.type "active")}}
        <div
          class="cell3 item skill active-skill"
          data-item-id="{{this._id}}"
          data-skill-name="{{localizeOr this.system.label this.name}}"
        >
          <label class="roll-skill" data-action="rollSkill" data-skill="{{this.name}}">
            {{localizeOr this.system.label this.name}}
          </label>
          {{> skill-row-fields editMode=../editMode attributes=../attributes}}
        </div>
      {{/if}}
    {{/each}}
  </div>

  <div class="column column-1 item-list">
    {{#each skills}}
      {{#if (or (eq this.system.type "knowledge") (eq this.system.type "complexForm"))}}
        <div
          id="{{this._id}}"
          class="cell3 item skill {{#if (eq this.system.type 'complexForm')}}complex-form-skill{{else}}knowledge-skill{{/if}}"
          data-item-id="{{this._id}}"
          data-skill-name="{{this.name}}"
        >
          <label>{{this.name}}</label>
          {{> skill-row-fields editMode=../editMode attributes=../attributes}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>