<div class="grid">
  <!-- Header Row -->
  <div class="character-row character-header">
    <span>{{localize 'sr4.stats.physical'}}</span>
    <span>{{localize 'sr4.stats.mental'}}</span>
    <span>{{localize 'sr4.stats.special'}}</span>
    <span>{{localize 'sr4.stats.special'}}</span>
  </div>
  <!-- Dynamic Stats -->
  {{#each computedStats as |value key|}}
    {{#unless
      (or
        (and ../isTechnomancer (eq key "MAGIC"))
        (and (not ../isTechnomancer) (eq key "RESONANCE"))
      )
    }}
    <div class="cell">
      <label>{{localize (concat 'sr4.stats.' key)}}</label>
      {{#if @root.editMode}}
        <input
          type="number"
          name="system.sheetStats.{{key}}"
          value="{{lookup @root.sourceStats key}}"
          data-dtype="Number"
          {{#if (includes @root.derivedKeys key)}}readonly{{/if}}
          {{#if @root.hasMetatypeLimits}}min="{{lookup @root.attributeMinimum key}}" max="{{lookup @root.attributeMaximum key}}" data-tooltip="Min {{lookup @root.attributeMinimum key}} / Max {{lookup @root.attributeMaximum key}} / Aug {{lookup @root.augmentedMaximum key}}"{{/if}}
        />
      {{else}}
        <span class="stat-display">
          {{#if (includes @root.derivedKeys key)}}
            {{lookup @root.derivedBaseValues key}}
            {{#if (ne (lookup @root.derivedBaseValues key) (lookup @root.system.sheetStats key))}}
              <span class="stat-bonus">({{lookup @root.system.sheetStats key}})</span>
            {{/if}}
          {{else}}
            {{lookup @root.sourceStats key}}
            {{#if (ne (lookup @root.sourceStats key) (lookup @root.system.sheetStats key))}}
              <span class="stat-bonus">({{lookup @root.system.sheetStats key}})</span>
            {{/if}}
          {{/if}}
        </span>
      {{/if}}
    </div>
    {{/unless}}
  {{/each}}
  <div class="cell">
    <label>{{localize 'sr4.stats.INITIATIVEPASSES'}}</label>
    <span>{{system.derivedStats.passesString}}</span>
  </div>
</div>
