<div class="item-sheet-body">
  {{> "item-sheet-header" nameKey="sr4.item.name"}}

  <table class="item-stats-table">
    <thead>
      <tr>
        <th>{{localize 'sr4.item.rating'}}</th>
        <th>{{localize 'sr4.armor.ballisticarmor'}}</th>
        <th>{{localize 'sr4.armor.impactarmor'}}</th>
        <th>{{localize 'sr4.item.capacity'}}</th>
        <th>{{localize 'sr4.item.avail'}}</th>
        <th>{{localize 'sr4.item.legality'}}</th>
        <th>{{localize 'sr4.item.cost'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            type="number"
            name="system.rating"
            value="{{ system.rating }}"
          />
        </td>
        <td>
          <input
            type="number"
            name="system.ballisticarmor"
            value="{{ system.ballisticarmor }}"
          />
        </td>
        <td>
          <input
            type="number"
            name="system.impactarmor"
            value="{{ system.impactarmor }}"
          />
        </td>
        <td>
          <input
            type="number"
            name="system.capacity"
            value="{{ system.capacity }}"
          />
        </td>
        <td>
          <input type="text" name="system.avail" value="{{ system.avail }}" />
        </td>
        <td>
          <input
            type="text"
            name="system.legality"
            value="{{ system.legality }}"
          />
        </td>
        <td>
          <input type="number" name="system.cost" value="{{ system.cost }}" />
        </td>
      </tr>
    </tbody>
  </table>

  {{> "mods-section"
    installedKey="sr4.armormod.installed"
    warning=system.capacityWarning
    warningKey="sr4.armormod.capacityWarning"
    usageKey="sr4.armormod.capacityUsed"
    used=system.usedCapacity
    max=system.maxCapacity
    availableMods=availableArmorMods
    addKey="sr4.armormod.add"
    createType="Armor Mod"
  }}

  {{> "item-textareas"}}
</div>
