<header class="item-header">
  <div class="item-image">
    <img
      data-edit="img"
      name="img"
      src="{{ item.img }}"
      alt="{{ item.name }}"
    />
  </div>
  <div class="item-meta">
    <label for="name">{{localize 'sr4.item.name'}}</label>
    <input type="text" name="name" value="{{ item.name }}" />
  </div>
</header>

<div>
  <table>
    <thead>
      <tr>
        <th>{{localize 'sr4.item.rating'}}</th>
        <th>{{localize 'sr4.item.legality'}}</th>
        <th>{{localize 'sr4.item.cost'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            type="number"
            name="system.rating"
            value="{{ system.rating }}"
            data-dtype="Number"
          />
        </td>
        <td>
          <input
            type="text"
            name="system.legality"
            value="{{ system.legality }}"
            data-dtype="String"
          />
        </td>
        <td>
          <input
            type="number"
            name="system.cost"
            value="{{ system.cost }}"
            data-dtype="Number"
          />
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-wrapper">
    <div class="w-1/2">
      <label for="notes">{{localize 'sr4.weapon.notes'}}</label>
      <textarea
        name="system.notes"
        data-dtype="String"
        placeholder="{{localize 'sr4.weapon.notes'}}"
        >{{ system.notes }}</textarea
      >
    </div>
    <div class="w-1/2">
      <label for="description">{{localize 'sr4.weapon.description'}}</label>
      <textarea
        name="system.description"
        data-dtype="String"
        placeholder="{{localize 'sr4.weapon.description'}}"
        >{{ system.description }}</textarea
      >
    </div>
  </div>
</div>
