<div class="item-sheet-body">
  {{> "item-sheet-header" nameKey="sr4.item.name"}}

  <table class="item-stats-table">
    <thead>
      <tr>
        <th>{{localize 'sr4.item.rating'}}</th>
        <th>{{localize 'sr4.item.grade'}}</th>
        <th>{{localize 'sr4.item.type'}}</th>
        <th>{{localize 'sr4.item.essence'}}</th>
        <th>{{localize 'sr4.item.essenceActual'}}</th>
        <th>{{localize 'sr4.item.legality'}}</th>
        <th>{{localize 'sr4.item.cost'}}</th>
        {{> item-source-header}}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            type="number"
            name="system.rating"
            value="{{ system.rating }}"
          />
        </td>
        <td>
          <select name="system.grade">
            {{selectOptions implantgrades selected=system.grade localize=true}}
          </select>
        </td>
        <td>
          <select name="system.type">
            {{selectOptions implanttypes selected=system.type localize=true}}
          </select>
        </td>
        <td>
          <input
            type="number"
            step="0.01"
            name="system.essence"
            value="{{ system.essence }}"
          />
        </td>
        <td>
          <input
            type="number"
            step="0.01"
            name="system.essenceActual"
            value="{{ system.essenceActual }}"
          />
        </td>
        <td>
          <input
            type="text"
            name="system.legality"
            value="{{ system.legality }}"
          />
        </td>
        <td>
          <input type="number" name="system.cost" value="{{ system.cost }}" />
        </td>
        {{> item-source-cell value=system.source}}
      </tr>
    </tbody>
  </table>

  {{> "item-actions-effects"}}

  {{> "item-textareas"}}
</div>
