<div class="item-sheet-body">
  {{#> "item-sheet-header" nameKey="sr4.weapon.name"}}
    <label>
      <span>{{localize 'sr4.weapon.noStrengthBonus'}}</span>
      <input type="checkbox" class="sr4-checkbox" data-field="system.noStrengthBonus" {{#if system.noStrengthBonus}}checked{{/if}} />
    </label>
  {{/"item-sheet-header"}}

  <table class="item-stats-table">
    <thead>
      <tr>
        <th>{{localize 'sr4.weapon.attackSkill'}}</th>
        <th>{{localize 'sr4.weapon.damage'}}</th>
        <th>{{localize 'sr4.weapon.damageType'}}</th>
        <th>{{localize 'sr4.weapon.ap'}}</th>
        <th>{{localize 'sr4.weapon.armorType.label'}}</th>
        <th>{{localize 'sr4.weapon.reach'}}</th>
        <th>{{localize 'sr4.weapon.avail'}}</th>
        <th>{{localize 'sr4.weapon.legality'}}</th>
        <th>{{localize 'sr4.weapon.source'}}</th>
        <th>{{localize 'sr4.weapon.cost'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select name="system.attackSkill">
            {{selectOptions meleeattackskills selected=system.attackSkill localize=true}}
          </select>
        </td>
        <td>
          <input
            type="number"
            name="system.damage"
            value="{{ system.damage }}"
          />
        </td>
        <td>
          <select name="system.damageType">
            {{selectOptions damagetypes selected=system.damageType localize=true}}
          </select>
        </td>
        <td>
          <input type="number" name="system.ap" value="{{ system.ap }}" />
        </td>
        <td>
          {{> "armor-type-select"}}
        </td>
        <td>
          <input type="number" name="system.reach" value="{{ system.reach }}" />
        </td>
        <td>
          <input type="number" name="system.avail" value="{{ system.avail }}" />
        </td>
        <td>
          <input
            type="text"
            name="system.legality"
            value="{{ system.legality }}"
          />
        </td>
        <td>
          <input type="text" name="system.source" value="{{ system.source }}" />
        </td>
        <td>
          <input type="number" name="system.cost" value="{{ system.cost }}" />
        </td>
      </tr>
    </tbody>
  </table>

  {{> "mods-section"
    installedKey="sr4.weaponmod.installed"
    warning=system.modSlotWarning
    warningKey="sr4.weaponmod.slotWarning"
    usageKey="sr4.weaponmod.slotsUsed"
    used=system.usedModSlots
    max=system.modSlots
    availableMods=availableWeaponMods
    addKey="sr4.weaponmod.add"
    createType="Weapon Mod"
  }}

  {{> "item-textareas"}}
</div>
