
  <div class="item-sheet-body">

    {{> "item-sheet-header" nameKey="sr4.item.name"}}

    <table class="item-stats-table">
      <thead>
        <tr>
          <th>{{localize 'sr4.power.rating'}}</th>
          <th>{{localize 'sr4.power.cost'}}</th>
          <th>{{localize 'sr4.power.totalCost'}}</th>
          <th>{{localize 'sr4.power.geas'}}</th>
          <th>{{localize 'sr4.power.source'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="number" name="system.rating" value="{{ system.rating }}" min="1" /></td>
          <td><input type="number" name="system.cost" value="{{ system.cost }}" min="0" step="0.25" /></td>
          <td class="computed">{{ system.totalCost }}</td>
          <td>
            <input type="checkbox" class="sr4-checkbox" name="system.geas" {{#if system.geas}}checked{{/if}} />
          </td>
          <td><input type="text" name="system.source" value="{{ system.source }}" /></td>
        </tr>
      </tbody>
    </table>

    {{> "item-textareas"}}

  </div>
