
  <div class="item-sheet-body">
<pre>{{ log system }}</pre>
    <header class="item-sheet-header">
      <img class="item-sheet-img" data-edit="img" src="{{ item.img }}" alt="{{ item.name }}" />
      <div class="item-sheet-name">
        <label>{{localize 'sr4.weapon.name'}}</label>
        <input type="text" name="name" value="{{ item.name }}" />
      </div>
      <div class="item-sheet-header-extras">
        <label>
          <span>{{localize 'sr4.weapon.smartlink'}}</span>
          <input type="checkbox" class="sr4-checkbox" data-field="system.smartlink" {{#if system.smartlink}}checked{{/if}} />
        </label>
      </div>
    </header>

    <table class="item-stats-table">
      <thead>
        <tr>
          <th>{{localize 'sr4.weapon.attackSkill'}}</th>
          <th>{{localize 'sr4.weapon.damage'}}</th>
          <th>{{localize 'sr4.weapon.damageType'}}</th>
          <th>{{localize 'sr4.weapon.ap'}}</th>
          <th>{{localize 'sr4.weapon.mode'}}</th>
          <th>{{localize 'sr4.weapon.recoil'}}</th>
          <th>{{localize 'sr4.weapon.range'}}</th>
          <th>{{localize 'sr4.weapon.ammo'}}</th>
          <th>{{localize 'sr4.weapon.avail'}}</th>
          <th>{{localize 'sr4.weapon.legality'}}</th>
          <th>{{localize 'sr4.weapon.cost'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <select name="system.attackSkill">
              {{selectOptions attackskills selected=system.attackSkill localize=true}}
            </select>
          </td>
          <td><input type="number" name="system.damage" value="{{ system.damage }}" /></td>
          <td>
            <select name="system.damageType">
              {{selectOptions damagetypes selected=system.damageType localize=true}}
            </select>
          </td>
          <td><input type="number" name="system.ap" value="{{ system.ap }}" /></td>
          <td>
            <select name="system.mode">
              {{selectOptions shootingmodes selected=system.mode localize=true}}
            </select>
          </td>
          <td><input type="text" name="system.rc" value="{{ system.rc }}" /></td>
          <td><input type="text" name="system.range" value="{{ system.range }}" /></td>
          <td><input type="text" name="system.ammo" value="{{ system.ammo }}" /></td>
          <td><input type="number" name="system.avail" value="{{ system.avail }}" /></td>
          <td><input type="text" name="system.legality" value="{{ system.legality }}" /></td>
          <td><input type="number" name="system.cost" value="{{ system.cost }}" /></td>
        </tr>
      </tbody>
    </table>

    <div class="item-textareas">
      <div>
        <label>{{localize 'sr4.weapon.notes'}}</label>
        <textarea name="system.notes" placeholder="{{localize 'sr4.weapon.notes'}}">{{ system.notes }}</textarea>
      </div>
      <div>
        <label>{{localize 'sr4.weapon.description'}}</label>
        <textarea name="system.description" placeholder="{{localize 'sr4.weapon.description'}}">{{ system.description }}</textarea>
      </div>
    </div>

  </div>
