<div class="item-sheet-body">
  {{> "item-sheet-header" nameKey="sr4.item.name"}}

  <table class="item-stats-table">
    <thead>
      <tr>
        <th>{{localize 'sr4.spell.category'}}</th>
        {{#if (eq system.category "COMBAT")}}
        <th>{{localize 'sr4.spell.combatType'}}</th>
        {{/if}}
        <th>{{localize 'sr4.spell.type'}}</th>
        <th>{{localize 'sr4.spell.range'}}</th>
        {{#if (eq system.category "COMBAT")}}
        <th>{{localize 'sr4.spell.damagetype'}}</th>
        {{#if (eq system.combatType "INDIRECT")}}
        <th>{{localize 'sr4.spell.element'}}</th>
        <th>{{localize 'sr4.spell.damageTypeOverride'}}</th>
        {{/if}}
        {{/if}}
        <th>{{localize 'sr4.spell.duration'}}</th>
        <th>{{localize 'sr4.spell.dv'}}</th>
        <th>{{localize 'sr4.spell.source'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select name="system.category">
            {{selectOptions spellcategories selected=system.category localize=true}}
          </select>
        </td>
        {{#if (eq system.category "COMBAT")}}
        <td>
          <select name="system.combatType">
            {{selectOptions spellcombattypes selected=system.combatType localize=true}}
          </select>
        </td>
        {{/if}}
        <td>
          <select name="system.type">
            {{selectOptions spelltypes selected=system.type localize=true}}
          </select>
        </td>
        <td>
          <select name="system.range">
            {{selectOptions spellranges selected=system.range localize=true}}
          </select>
        </td>
        {{#if (eq system.category "COMBAT")}}
        <td>
          {{#if (or (ne system.combatType "INDIRECT") system.damageTypeOverride)}}
          <select name="system.damageType">
            {{selectOptions damagetypes selected=system.damageType localize=true}}
          </select>
          {{else}}
          <span class="spell-damagetype-output">{{localize (concat "sr4.damage." (spellDamageType system))}}</span>
          {{/if}}
        </td>
        {{#if (eq system.combatType "INDIRECT")}}
        <td>
          <select name="system.element">
            {{selectOptions spellelements selected=system.element localize=true}}
          </select>
        </td>
        <td>
          <input type="checkbox" class="sr4-checkbox" data-field="system.damageTypeOverride" {{#if system.damageTypeOverride}}checked{{/if}} />
        </td>
        {{/if}}
        {{/if}}
        <td>
          <select name="system.duration">
            {{selectOptions spelldurations selected=system.duration localize=true}}
          </select>
        </td>
        <td><input type="text" name="system.dv" value="{{ system.dv }}" /></td>
        <td>
          <input type="text" name="system.source" value="{{ system.source }}" />
        </td>
      </tr>
    </tbody>
  </table>

  {{#unless (eq system.category "COMBAT")}}
  <div class="form-group">
    <label>{{localize 'sr4.spell.opposed'}}</label>
    <input type="checkbox" name="system.opposed" {{checked system.opposed}} />
  </div>
  {{/unless}}

  <div class="form-group">
    <label>{{localize 'sr4.spell.limited'}}</label>
    <input type="checkbox" name="system.limited" {{checked system.limited}} />
  </div>

  {{> "item-actions-effects"}}

  {{> "item-textareas"}}
</div>
