<div class="sheet-container">

  <div class="npc-header">
    {{> "actor-image"}}
    <div class="npc-header-info">
      {{> meta-field label="sr4.sprite.name" name="name" value=actor.name editMode=editMode}}
      {{> meta-field label="sr4.sprite.type" name="system.spriteType" value=system.spriteType editMode=editMode}}
      {{> meta-field label="sr4.sprite.rating" name="system.rating" value=system.rating numeric=true editMode=editMode}}
      <div class="meta-field">
        <label>{{localize 'sr4.sprite.tasks'}}</label>
        <input type="number" name="system.tasks" value="{{system.tasks}}" />
      </div>
      {{> meta-field label="sr4.item.source" name="system.source" value=system.source editMode=editMode}}
    </div>
  </div>

  {{> "actor-link-row"
      linkLabel="sr4.sprite.compiler"
      dropType="ownerUuid"
      linkedName=ownerName
      clearAction="clearOwner"
      dropHint="sr4.sprite.dropCompiler"}}

  <hr />

  <h3>{{localize 'sr4.sprite.matrixPersona'}}</h3>
  <div class="grid">
    {{#each matrixStats as |stat|}}
      {{> "attribute-cell" label=stat.label name=stat.name value=stat.value sourceValue=stat.sourceValue rollLabel=stat.rollLabel}}
    {{/each}}
  </div>

  <hr />

  {{> "monitor-tracks"}}

  <hr />

  {{> "critter-powers" critterPowers=critterPowers editMode=editMode}}

  <div class="npc-section">
    <h3>
      {{localize 'sr4.sprite.complexForms'}}
      {{#if editMode}}{{> item-create-btn btnAction="createComplexForm" btnTooltip="sr4.sprite.complexForms"}}{{/if}}
    </h3>
    {{#if complexForms.length}}
      {{#each complexForms as |cf|}}
      <div class="item-card power-card" data-item-id="{{cf._id}}">
        <div class="item-row">
          <span class="item-name">{{cf.name}}</span>
          {{> item-edit-btn itemId=cf._id}}
          {{> item-delete-btn itemId=cf._id}}
        </div>
      </div>
      {{/each}}
    {{else}}
      <p class="empty-list">{{localize 'sr4.sprite.noComplexForms'}}</p>
    {{/if}}
  </div>

  {{> "npc-skills-section" skills=skills emptyKey="sr4.sprite.noSkills"}}

  {{> "npc-notes"}}

</div>
