<form class="opposed-spell-resist-dialog">
  {{> spell-force-header}}
  <div class="form-group">
    <span>{{localize "sr4.spell.cast"}}: <strong>{{ castingHits }}</strong> · {{ resistAttrLabel }}: <strong>{{ baseResist }}</strong>{{#if counterspelling}} + {{localize "sr4.skills.counterspelling"}}: <strong>{{ counterspelling }}</strong>{{/if}}</span>
  </div>
  {{> bonus-input}}
  {{> malus-input}}
  {{> edge-checkbox}}
</form>
