    <div class="inventory-section">
      <h3>
        {{localize 'sr4.power.actions.label'}}
        {{> item-create-btn btnAction="createLinkedAction" btnTooltip="sr4.power.actions.create"}}
      </h3>
      {{#if linkedActions}}
      <ul class="item-list">
        {{#each linkedActions}}
        <li class="item-row" data-item-id="{{id}}">
          <span class="item-name">{{name}}</span>
          {{> item-edit-btn itemId=id}}
          {{> item-delete-btn itemId=id}}
        </li>
        {{/each}}
      </ul>
      {{else}}
      <p class="empty-list">{{localize 'sr4.power.noActions'}}</p>
      {{/if}}
    </div>

    <div class="inventory-section">
      <h3>
        {{localize 'sr4.tab.effects'}}
        <select class="effect-template-picker" data-action="addEffectTemplate">
          <option value="">{{localize 'sr4.effect.addFromTemplate'}}</option>
          <optgroup label="{{localize 'sr4.effect.templates.label'}}">
            {{#each effectTemplates}}
            {{#if (eq type 'template')}}
            <option value="{{key}}">{{name}}</option>
            {{/if}}
            {{/each}}
          </optgroup>
          {{#if hasExistingEffects}}
          <optgroup label="{{localize 'sr4.effect.existing'}}">
            {{#each effectTemplates}}
            {{#if (eq type 'existing')}}
            <option value="{{key}}">{{name}}</option>
            {{/if}}
            {{/each}}
          </optgroup>
          {{/if}}
        </select>
        {{> item-create-btn btnAction="createEffect" btnTooltip="sr4.effect.add"}}
      </h3>
      {{#if effects}}
      {{> "effect-table" effects=effects}}
      {{else}}
      <p class="empty-list">{{localize 'sr4.effect.none'}}</p>
      {{/if}}
    </div>
