<form class="sr4-dialog drain-resistance-dialog">
  <div class="form-info-grid">
    <div class="info-block">
      <span class="info-label">{{localize "sr4.spell.force"}}</span>
      <span class="info-value">{{ force }}</span>
    </div>
    <div class="info-block">
      <span class="info-label">{{localize "sr4.spell.drainValue"}}</span>
      <span class="info-value" id="dv-display">{{ drainValue }}</span>
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "sr4.magic.adjustDV"}}</label>
    <input
      type="number"
      id="drain-dv"
      name="drainValue"
      value="{{ drainValue }}"
      min="0"
      class="stepper-input"
    />
  </div>

  {{> bonus-input}}

  {{> edge-checkbox}}
</form>
