<div
  class="item-card action-card"
  data-item-id="{{ this._id }}"
  id="{{ this._id }}"
  title="{{ this.system.description }}"
>
  {{#> item-card-header}}
    {{#*inline "card-buttons"}}
      <button
        class="roll-action"
        data-action="rollAction"
        data-rating1="{{ this.system.rating1 }}"
        data-rating2="{{ this.system.rating2 }}"
        data-action1="{{ this.system.actionPart1 }}"
        data-action2="{{ this.system.actionPart2 }}"
        data-tooltip="{{localize 'sr4.action.rollAction'}}"
      >
        <i class="fas fa-dice-d20"></i>
      </button>
    {{/inline}}
  {{/item-card-header}}
  <div class="item-body action-stats">
    <span class="item-property">
      <strong>{{localize "sr4.action.type"}}</strong>
      {{localize (lookup actiontypes this.system.actionType)}}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.action.parts"}}</strong>
      {{ this.system.actionPart1 }} ({{ this.system.rating1 }})
      {{#if this.system.actionPart2}}
      + {{ this.system.actionPart2 }} ({{ this.system.rating2 }})
      {{/if}}
    </span>
    {{#if this.system.source}}
    <span class="item-property">
      <strong>{{localize "sr4.action.source"}}</strong>
      {{ this.system.source }}
    </span>
    {{/if}}
  </div>
</div>
