<div class="item-card item armor-card" data-item-id="{{ this._id }}" title="{{ this.system.description }}">
  {{#> item-card-header activeBadgeLabel="sr4.item.equipped"}}
    {{#*inline "card-buttons"}}
      {{> item-toggle-equip equippedIcon="fas fa-shield-alt" unequippedIcon="fas fa-shield" tooltip="sr4.item.toggleEquip"}}
    {{/inline}}
  {{/item-card-header}}
  <div class="item-body">
    {{#if (or (eq this.system.stackingType "accessory") (eq this.system.stackingType "formFitting"))}}
    <span class="item-property armor-stacking-badge">
      {{#if (eq this.system.stackingType "accessory")}}
        <i class="fas fa-helmet-safety" data-tooltip="{{localize 'sr4.armor.stackingType.accessory'}}"></i>
      {{else}}
        <i class="fas fa-tshirt" data-tooltip="{{localize 'sr4.armor.stackingType.formFitting'}}"></i>
      {{/if}}
    </span>
    {{/if}}
    <span class="item-property">
      <strong>{{localize "sr4.armor.ballisticarmor"}}</strong>
      {{#if (eq this.system.effectiveBallistic this.system.ballisticarmor)}}
        {{ this.system.ballisticarmor }}
      {{else}}
        <span title="{{localize 'sr4.armor.ballisticarmor'}}: {{ this.system.ballisticarmor }}">{{ this.system.effectiveBallistic }}</span>
      {{/if}}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.armor.impactarmor"}}</strong>
      {{#if (eq this.system.effectiveImpact this.system.impactarmor)}}
        {{ this.system.impactarmor }}
      {{else}}
        <span title="{{localize 'sr4.armor.impactarmor'}}: {{ this.system.impactarmor }}">{{ this.system.effectiveImpact }}</span>
      {{/if}}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.armormod.capacityUsed"}}</strong>
      {{ this.system.usedCapacity }} / {{ this.system.maxCapacity }}
      {{#if this.system.capacityWarning}}
        <i class="fas fa-exclamation-triangle warning" data-tooltip="{{localize 'sr4.armormod.capacityWarning'}}"></i>
      {{/if}}
    </span>
  </div>

  {{> item-card-mods mods=this.installedMods availableMods=this.availableArmorMods addKey="sr4.armormod.add" modType="Armor Mod"}}
</div>
