<div class="item-card item armor-card" data-item-id="{{ this._id }}" title="{{ this.system.description }}">
  <div class="item-header item-row">
    <span class="item-name">{{ this.name }}</span>
    {{> item-active-badge label="sr4.item.equipped"}}
    <div class="item-actions">
      {{> item-toggle-equip equippedIcon="fas fa-shield-alt" unequippedIcon="fas fa-shield" tooltip="sr4.item.toggleEquip"}}
      {{> item-edit-btn}}
      {{> item-delete-btn}}
    </div>
  </div>
  <div class="item-body">
    {{#if (or (eq this.system.stackingType "accessory") (eq this.system.stackingType "formFitting"))}}
    <span class="item-property armor-stacking-badge">
      {{#if (eq this.system.stackingType "accessory")}}
        <i class="fas fa-helmet-safety" data-tooltip="{{localize 'sr4.armor.stackingType.accessory'}}"></i>
      {{else}}
        <i class="fas fa-tshirt" data-tooltip="{{localize 'sr4.armor.stackingType.formFitting'}}"></i>
      {{/if}}
    </span>
    {{/if}}
    <span class="item-property">
      <strong>{{localize "sr4.armor.ballisticarmor"}}</strong>
      {{#if (eq this.system.effectiveBallistic this.system.ballisticarmor)}}
        {{ this.system.ballisticarmor }}
      {{else}}
        <span title="{{localize 'sr4.armor.ballisticarmor'}}: {{ this.system.ballisticarmor }}">{{ this.system.effectiveBallistic }}</span>
      {{/if}}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.armor.impactarmor"}}</strong>
      {{#if (eq this.system.effectiveImpact this.system.impactarmor)}}
        {{ this.system.impactarmor }}
      {{else}}
        <span title="{{localize 'sr4.armor.impactarmor'}}: {{ this.system.impactarmor }}">{{ this.system.effectiveImpact }}</span>
      {{/if}}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.armormod.capacityUsed"}}</strong>
      {{ this.system.usedCapacity }} / {{ this.system.maxCapacity }}
      {{#if this.system.capacityWarning}}
        <i class="fas fa-exclamation-triangle warning" data-tooltip="{{localize 'sr4.armormod.capacityWarning'}}"></i>
      {{/if}}
    </span>
  </div>

  <div class="item-card-mods">
    {{#each this.installedMods as |mod|}}
    <span class="mod-entry">
      <span class="mod-name">{{ mod.name }}</span>
      {{> item-edit-btn itemId=mod.id}}
      <button type="button" class="item-delete" data-action="removeMod" data-mod-id="{{ mod.id }}" data-tooltip="{{localize 'sr4.item.delete'}}"><i class="fas fa-times"></i></button>
    </span>
    {{/each}}
    {{#if this.availableArmorMods.length}}
    <select class="mod-add-select">
      <option value="">+ {{localize 'sr4.armormod.add'}}</option>
      {{#each this.availableArmorMods as |m|}}
      <option value="{{ m.id }}">{{ m.name }}</option>
      {{/each}}
    </select>
    {{/if}}
    {{> item-create-btn btnAction="createMod" btnItemType="Armor Mod" btnTooltip="sr4.armormod.add"}}
  </div>
</div>
