<div class="item-card item commlink-card" data-item-id="{{ this._id }}" title="{{ this.system.description }}">
  {{#> item-card-header activeBadgeLabel="sr4.commlink.active"}}
    {{#*inline "card-buttons"}}
      {{> item-toggle-equip equippedIcon="fas fa-tower-broadcast" unequippedIcon="fas fa-power-off" tooltip="sr4.commlink.toggleActive"}}
    {{/inline}}
  {{/item-card-header}}
  <div class="item-body">
    <span class="item-property">
      <strong>{{localize "sr4.commlink.response"}}</strong>
      {{ this.system.response }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.commlink.signal"}}</strong>
      {{ this.system.signal }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.commlink.firewall"}}</strong>
      {{ this.system.firewall }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.commlink.os"}}</strong>
      {{ this.system.os }}
    </span>
  </div>
</div>
