<div
  class="item-card"
  data-item-id="{{ this._id }}"
  id="{{ this._id }}"
  title="{{ this.system.description }}"
>
  <div class="item-row">
    <span class="item-name">{{ this.name }}</span>

    <span class="item-type"
      >{{localize "sr4.item.type"}}: {{ this.system.type }}</span
    >

    <span class="item-grade"
      >{{localize "sr4.item.grade"}}: {{ this.system.grade }}</span
    >

    <span class="item-rating"
      >{{localize "sr4.item.rating"}}: {{ this.system.rating }}</span
    >

    <span class="item-essence"
      >{{localize "sr4.item.essence"}}: {{ this.system.essence }}</span
    >

    <span class="item-essence-effective">
      {{localize "sr4.item.essenceActual"}}: {{ this.system.essenceActual }}
    </span>

    <span class="item-availability">{{ this.system.avail }}</span>
    <span class="item-legality">{{ this.system.legality }}</span>
    <span class="item-cost">{{ this.system.cost }}</span>

    {{> item-edit-btn}}
    {{> item-delete-btn}}
  </div>
</div>
