<div
  class="item-card implant-card"
  data-item-id="{{ this._id }}"
  id="{{ this._id }}"
  title="{{ this.system.description }}"
>
  {{> item-card-header}}
  <div class="item-body">
    <span class="item-property">
      <strong>{{localize "sr4.item.type"}}</strong>
      {{localize this.displayType}}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.item.grade"}}</strong>
      {{localize this.displayGrade}}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.item.rating"}}</strong>
      {{ this.system.rating }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.item.essence"}}</strong>
      {{ this.system.essence }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.item.essenceActual"}}</strong>
      {{ this.system.essenceActual }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.item.avail"}}</strong>
      {{ this.system.avail }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.item.legality"}}</strong>
      {{ this.system.legality }}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.item.cost"}}</strong>
      {{ this.system.cost }}
    </span>
  </div>
  {{> item-card-actions-effects}}
</div>
