<div
  class="item-card spell-card"
  id="{{ this._id }}"
  data-item-id="{{ this._id }}"
  title="{{ this.system.description }}"
>
  {{#> item-card-header}}
    {{#*inline "card-buttons"}}
      <button class="spell-cast" data-action="castSpell"
        data-tooltip="{{localize 'sr4.spell.cast'}}">
        <i class="fas fa-dice-d6"></i>
      </button>
    {{/inline}}
  {{/item-card-header}}
  <div class="item-body">
    <span class="item-property">
      <strong>{{localize "sr4.spell.category"}}</strong>
      {{localize (concat "sr4.spell.categories." this.system.category)}}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.spell.type"}}</strong>
      {{localize (concat "sr4.spell.types." this.system.type)}}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.spell.range"}}</strong>
      {{localize (concat "sr4.spell.ranges." this.system.range)}}
    </span>

    {{#if (eq this.system.category "COMBAT")}}
    <span class="item-property">
      <strong>{{localize "sr4.spell.combatType"}}</strong>
      {{localize (concat "sr4.spell.combatTypes." this.system.combatType)}}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.spell.damagetype"}}</strong>
      {{localize (concat "sr4.damage." (spellDamageType this.system))}}
    </span>
    {{#if (eq this.system.combatType "INDIRECT")}}
    <span class="item-property">
      <strong>{{localize "sr4.spell.element"}}</strong>
      {{localize (concat "sr4.spell.elements." this.system.element)}}
    </span>
    {{/if}}
    {{/if}}

    <span class="item-property">
      <strong>{{localize "sr4.spell.duration"}}</strong>
      {{localize (concat "sr4.spell.durations." this.system.duration)}}
    </span>
    <span class="item-property">
      <strong>{{localize "sr4.spell.dv"}}</strong>
      {{ this.system.dv }}
    </span>
    {{#if this.system.source}}
    <span class="item-property">
      <strong>{{localize "sr4.spell.source"}}</strong>
      {{ this.system.source }}
    </span>
    {{/if}}
    {{#if this.system.limited}}
    <span class="item-property">
      <strong>{{localize "sr4.spell.limited"}}</strong>
    </span>
    {{/if}}
  </div>
  {{> item-card-actions-effects}}
</div>
